@font-face {
  font-family: "Gilroy-SemiBold";
  src: url(./fonts/Gilroy-Semibold.woff2);
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url(./fonts/Gilroy-Bold.woff2);
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url(./fonts/Gilroy-Medium.woff2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  background: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 500px;
  margin-top: 45px;
}

.navigation {
  font-family: "Gilroy-SemiBold";
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-top: 51px;
  width: 533px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.home {
  color: #f25822;
}

header {
  margin-bottom: 94.71px;
}

.content__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 41px;
}

.h1_main {
  font-family: "Gilroy-Bold";
  font-size: 60px;
  line-height: 70px;
  color: #000000;
  margin-top: 89px;
  margin-bottom: 17px;
  width: 522px;
}

.main_p {
  font-family: "Gilroy-Medium";
  font-size: 20px;
  line-height: 23px;
  color: #888888;
  margin-bottom: 37px;
  width: 466px;
}

.btn {
  color: #ffffff;
  background: #f25822;
  box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
  border-radius: 50px;
  font-family: "Gilroy-Bold";
  font-size: 15px;
  line-height: 18px;
  padding: 15px 36px 16px 35px;
  border: 0;
  margin-right: 72px;
  cursor: pointer;
}

.no_btn {
  font-family: "Gilroy-Bold";
  font-size: 15px;
  line-height: 18px;
  color: #aaaaaa;
  border: 0;
  background: #ffffff;
}

.mainpic {
  margin-top: 94.71px;
}

.logos {
  margin-top: 162px;
}

.logos_article {
  padding-top: 97px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
